
<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <h3>FOSS4GNL 2018</h3>
            <p>Dit jaar zijn er bij de FOSS4GNL voor het eerst ook pre-conference workshops: 
            op dinsdag 10 juli geven gerenommeerde bedrijven een achttal hands-on workshops. 
            Op deze wijze dragen zij extra bij aan de kennisopbouw in Nederland.</p>
            
            <p>Deze workshops gaan een heel stuk dieper dan de talks op de conferentie zelf: 
            een onderwerp wordt goed uitgediept en, zoals gezegd, je leert voor een groot deel 
            door het hands-on te doen. Het zijn professionele trainingen van een halve dag.</p>

            <p>De bijdrage voor deze workshops bedraagt 100 euro (ex servicekosten) per stuk. 
            Met één in de ochtend en één in de middag, kan je zo een hele dag training krijgen 
            van échte experts voor maar 200 euro.</p>

            <p>Let op: je bent zelf verantwoordelijk voor de planning. Kies je voor twee 
            workshops, zorg dan wel dat de een in de ochtend en de ander in de middag valt. 
            Uiterlijk 1 juli krijg je te horen of de workshop definitief doorgaat. In het geval 
            er te weinig deelnemers zijn om het voor alle partijen leuk te houden (dat scheelt 
            per workshop) kan het zijn dat deze wordt afgezegd, of dat er een alternatief 
            wordt gezocht. </p>
        </div>
    </div>
</section>
<!-- End Description Section -->
