<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <h3>FOSS4GNL 2018</h3>
            <p>Na het geweldige succes van de eerste FOSS4GNL in Groningen afgelopen jaar, wordt er ook dit jaar een FOSS4GNL gehouden. Dit jaar is de Aeres Hogeschool in Almere de locatie, en de conferentie vindt plaats op 10/11 juli.</p>
            
            <p>Op 10 juli wordt, bij wijze van pre-conference, een workshopdag georganiseerd. Op deze dag staan de sponsoren van OSGeoNL klaar jullie weer veel nieuws te leren, waarbij er veel hands-on gedaan wordt. Let op: vier workshops zijn in de ochtend, vier in de middag. Kies de juiste voor jezelf!</p>
            
            <p>De conferentie zelf is op 11 juli. Op deze dag staat een keur aan sprekers op het programma, die allemaal hun kennis en ervaring met opensource-geotoepassingen delen. Het hele spectrum wordt behandeld: techniek, toepassingsvelden, gebruikerservaringen... het belooft weer een uitstekende dag te worden!</p>
            
            <p>De ochtend kent een plenair programma, met als keynotespeaker Ton Zijlstra.</p>
            
            <p>De open data-explosie heeft een enorme impact op ons allemaal: de samenleving als geheel verandert erdoor, in ons vakgebied maken we dankbaar gebruik van de nieuwe mogelijkheden. In tijden van AVG-awareness en Facebook schandalen kijken ook de geo-informatieprofessionals graag naar de randvoorwaarden: geeft de open data-explosie ook een privacy-explosie? Willen we als Nederland wel echt open gaan, en zo ja, hoe dan? Kunnen we leren van hoe andere landen dat doen? Ton Zijlstra geeft als geen ander de antwoorden op deze vraagstukken. Zijn kennis en ervaring deelt hij met onder andere de Verenigde Naties, de WereldBank, en… nu ook met ons op de FOSS4GNL.</p>

            <p>Na de koffie gaat het programma verder in vier specifieke tracks, met elke een eigen focus: software, techniek, analyses en zogeheten 'specials': bijzondere verhalen die niet zomaar in een van de andere tracks in te delen zijn. De eerste sessie daarvan valt voor de lunch, in de middag zijn de andere twee sessies. En dat ziet er veelbelovend uit! </p>
        </div>
    </div>
</section>
<!-- End Description Section -->
